@font-face {
  font-family: Marianne;
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Marianne-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  font-style: normal;
  font-weight: normal;
  src: url('@/assets/fonts/Marianne-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/Marianne-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/Marianne-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  font-style: normal;
  font-weight: 800;
  src: url('@/assets/fonts/Marianne-ExtraBold.woff2') format('woff2');
  font-display: swap;
}

/*
 *   VUE JS
 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-in-enter-active {
  transition: opacity 0.5s;
}
.fade-in-enter,
.fade-in-leave-to {
  opacity: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  overflow-x: hidden;
}

p:not(:last-child) {
  @apply mb-4;
}

.gradient-primary {
  background: linear-gradient(90deg, #070191, hsla(225, 54%, 39%, 1));
}

.text-label {
  color: #374151;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  line-height: 1;
  padding-left: 15px;
}

.el-loading-spinner {
  @apply flex justify-center;
}

.el-table {
  thead {
    th {
      @apply border-t border-gray-200 text-gray-700 font-normal;
    }
  }
  tbody {
    td {
      @apply border-gray-200;
    }
  }
  .el-table__row {
    @apply text-[#242526];
  }
  .el-table__body-wrapper {
    .dropdown-wrapper {
      .cell {
        @apply text-0 leading-none;
      }
    }
  }
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  @apply bg-gray-50 #{!important};
}

.el-table__body tr.current-row > td {
  @apply bg-gray-50 #{!important};
}

.el-table__row {
  cursor: pointer;
}

.el-badge__content {
  height: 21px;
  line-height: 20px;
  border: none !important;
}

.el-table {
  .cell {
    word-break: break-word;
  }
}

.has-full-table {
  @apply h-full flex flex-col;
  .el-table {
    @apply flex flex-col;
  }
  .el-table__header-wrapper {
    overflow: initial;
  }
  .el-table__body-wrapper {
    align-items: stretch;
    overflow-y: auto;
  }
  .el-table__row {
    td:last-of-type {
      .cell {
        margin-right: 15px;
      }
    }
  }
}

.card-item {
  width: 320px;
}

.card-label {
  width: 100px;
}

::placeholder {
  font-weight: 300;
  color: #908e8e !important;
}

.wysiwyg-field {
  ol {
    list-style: decimal;
    padding-left: 24px;
    margin-bottom: 24px;
  }
  ul {
    list-style: disc;
    padding-left: 24px;
    margin-bottom: 24px;
  }
  h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 26px;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    margin-bottom: 15px;
  }
}

.userback-button {
  @screen xl {
    right: 120px !important;
  }
}

.el-select-dropdown {
  &.domaines-actions {
    max-width: calc(100% - 2rem);
    .el-select-dropdown__item {
      @apply whitespace-normal overflow-auto leading-normal h-full py-2;
    }
  }
  .el-select-dropdown__wrap {
    @screen lg {
      @apply overscroll-contain;
    }
  }
}

// Correct click twice under IOS to trigger the selected event
// See https://github.com/ElemeFE/element/issues/17794
.el-select-dropdown {
  .el-scrollbar {
    > .el-scrollbar__bar {
      opacity: 1;
    }
  }
}

// CKEditor5
.el-form {
  .ck-content {
    padding: 15px 25px !important;
    color: black;
    line-height: 24px;
    h2 {
      font-size: 24px;
      font-weight: 800;
      line-height: 26px;
      margin-bottom: 15px;
    }
    h3 {
      font-size: 18px;
      font-weight: 800;
      line-height: 20px;
      margin-bottom: 15px;
    }
    ul,
    ol {
      padding-bottom: 24px;
      padding-left: 24px;
      li {
        line-height: 24px;
      }
    }
    ul {
      list-style: disc;
    }
    ol {
      list-style: decimal;
    }
  }
}

.release-description {
  ul {
    list-style: disc;
    list-style-position: outside;
    padding-left: 18px;
  }
  a {
    @apply text-primary;
  }
}

.el-input-number__decrease,
.el-input-number__increase {
  bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-scrollbar {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(30, 66, 59, 0.15);
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    @apply bg-primary;
  }
}

.el-step__title.is-process,
.el-step__description.is-process {
  color: #6a6f85 !important;
}
.el-step__title {
  font-weight: bold !important;
}

.is-process {
  .el-step__icon.is-text {
    border-color: #6a6f85 !important;
    .el-step__icon-inner {
      color: #6a6f85 !important;
    }
  }
}

.el-dropdown {
  .el-button-group {
    display: flex !important;
  }
}

.el-avatar--circle {
  img {
    max-width: 100px;
    width: 100%;
    height: auto;
  }
}

.tooltip {
  display: block !important;
  z-index: 10000;
  font-size: 12px;
  max-width: 276px;
  .tooltip-inner {
    color: white;
    border-radius: 16px;
    padding: 12px;
    @apply bg-black shadow;
  }
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }
  &[x-placement^='top'] {
    margin-bottom: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^='bottom'] {
    margin-top: 5px;
    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^='right'] {
    margin-left: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[x-placement^='left'] {
    margin-right: 5px;
    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &.popover {
    .popover-inner {
      background: #f9f9f9;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, 0.1);
    }
    .popover-arrow {
      border-color: #f9f9f9;
    }
  }
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }
  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
  &.bo-style {
    .tooltip-inner {
      border-radius: 4px;
      padding: 6px;
      @apply bg-[#242526];
    }
  }
}

.el-dialog__body {
  word-break: normal !important;
}

.transition {
  transition: all 0.25s;
}

@mixin btn() {
  font-size: 15px;
  @apply inline-flex flex-col px-8 py-3 rounded-full items-center text-center font-bold border-2 border-transparent transition;
}

.btn {
  @include btn();
}

.btn-primary {
  @include btn();
  box-shadow: 4px 7px 16px #d9534f69;
  @apply bg-red-700 text-white;
  &:hover {
    @apply bg-red-600;
  }
}

.btn-secondary {
  @include btn();
  box-shadow: 4px 7px 16px rgba(27, 139, 249, 0.4);
  @apply bg-blue-700 text-white;
  &:hover {
    @apply bg-[#1e429f];
  }
  &.plain {
    @apply bg-transparent border-white shadow-none;
    &:hover {
      @apply bg-white text-[#242526];
    }
  }
}

.btn-white {
  @include btn();
  box-shadow: 4px 7px 16px rgba(255, 255, 255, 0.4);
  @apply bg-white text-[#070191];
  &:hover {
    @apply bg-gray-200;
  }
}

.text-xxs {
  font-size: 9px;
}
.text-15 {
  font-size: 15px;
}

.titre-1 {
  @apply text-2xl mb-3 text-[#242526] font-bold leading-tight;
  @screen lg {
    @apply text-4xl;
  }
}

.svg-100 {
  svg {
    width: 100%;
    height: auto;
  }
}
.svg-h-100 {
  svg {
    height: 100%;
  }
}

.input-shadow {
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
}
.form-center {
  .el-form-item__error {
    @apply w-full text-center;
  }
}

.el-dialog__wrapper {
  @apply overflow-hidden;
}

body.full-height-layout {
  height: 100%;
  #__nuxt,
  #__layout {
    height: 100%;
  }
}

body.h-full {
  #__nuxt,
  #__layout {
    height: 100%;
  }
}

.break-word {
  word-break: break-word;
}

.form-register-steps {
  &.el-form--label-top {
    .el-form-item__label {
      font-size: 10px;
      @apply uppercase font-bold;
    }
  }
  .custom-input {
    @apply w-full px-4 rounded-lg border border-gray-200;
    &:focus {
      border-color: #070191;
      @apply shadow-none;
    }
  }
  .custom-textarea {
    @apply w-full px-4 py-3 rounded-lg border border-gray-200 leading-6;
    &:focus {
      @apply shadow-none;
    }
  }
  .prefix {
    padding-left: 40px;
    background-position: 15px center;
    @apply bg-no-repeat;
    &.prefix-website {
      background-image: url('../images/icones/steps/website.svg');
    }
    &.prefix-facebook {
      background-image: url('../images/icones/steps/facebook.svg');
    }
    &.prefix-twitter {
      background-image: url('../images/icones/steps/twitter.svg');
    }
    &.prefix-instagram {
      background-image: url('../images/icones/steps/instagram.svg');
    }
    &.prefix-donation {
      background-image: url('../images/icones/steps/donation.svg');
    }
  }
}

.custom-checkbox {
  @apply -m-1 flex flex-wrap;
  .el-checkbox {
    margin: 0.25rem !important;
  }
}

// OUTLINE
input {
  outline-color: #070191;
}
.el-select .el-input__inner {
  &:focus {
    border: 1px solid #070191;
  }
}
.el-select .el-input.is-focus .el-input__inner {
  border: 1px solid #070191;
}
.el-input__inner {
  &:focus {
    border: 1px solid #070191;
  }
}

#dashboard-layout {
  .el-checkbox {
    .el-checkbox__label {
      font-weight: normal;
    }
    &:not(.is-checked) {
      .el-checkbox__label {
        color: #908e8e;
      }
    }
  }
  .el-form-item .el-input {
    box-shadow: none;
  }
  .el-input__inner {
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.1);
    color: black;
    &:hover,
    &:focus {
      border-color: #070191;
    }
  }
  .el-form-item__label {
    font-size: 10px;
    @apply uppercase font-bold;
  }
  .el-input-number {
    .el-input__inner {
      &:focus {
        border: 1px solid #070191;
      }
    }
    .el-input-number__increase {
      border-radius: 0 10px 10px 0;
    }
    .el-input-number__decrease {
      border-radius: 10px 0 0 10px;
    }
  }

  --ck-border-radius: 10px;
  --ck-color-base-border: rgba(0, 0, 0, 0.1);
  --ck-color-toolbar-border: rgba(0, 0, 0, 0.1);
  --ck-inner-shadow: none;
  --ck-color-base-active-focus: #070191;
  --ck-color-focus-border: #070191;
  --ck-focus-ring: 1px solid #070191;
}

.el-form--label-top .el-form-item__label {
  line-height: 1 !important;
}

#dashboard-layout {
  .component--volet {
    .el-button + .el-button {
      margin-left: 0;
    }
  }
}
