/node_modules
/public/hot
/public/storage
/public/media
/storage/*.key
/storage/backups
/storage/medialibrary
/storage/media-library
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
_ide_helper_models.php
/public/assets/*
/public/vendors~assets/*
/public/mix-manifest.json
package-lock.json
.DS_Store
.eslintcache
sitemap.xml
/thunder-tests
/.vscode/tasks.json
