{
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.json", ".prettierrc"],
            "options": { "tabWidth": 4 }
        }
    ]
}
