@import 'variables'
@import 'helpers'
@import '../css/tailwind.css'

@import "node_modules/font-awesome/scss/font-awesome.scss"

html
  height: 100%

body
    font-family: "Montserrat", sans-serif
    font-size: 16px

p:not(:last-child)
    @apply mb-4

.gradient-primary
  background: linear-gradient(90deg,#233876,hsla(225, 54%, 39%, 1))

.text-label
  color: #374151
  text-transform: uppercase
  font-weight: bold
  font-size: 10px
  line-height: 1
  padding-left: 15px

.el-loading-spinner
  @apply flex justify-center

.el-table
  thead
    th
      @apply border-t border-gray-200 text-gray-700 font-normal
  tbody
    td
      @apply border-gray-200

.el-table--enable-row-hover .el-table__body tr:hover > td
  @apply bg-gray-100

.el-table__body tr.current-row > td
  @apply bg-gray-100

.el-table__row
  cursor: pointer

.el-badge__content
  height: 21px
  line-height: 20px

.el-table
  .cell
    word-break: break-word

.has-full-table
  @apply h-full flex flex-col
  .el-table__body-wrapper
    height: calc(100% - 49px)
    overflow-y: auto
  .el-table__row
    td:last-of-type
      .cell
        margin-right: 15px

.card-item
  width: 320px

.card-label
  width: 90px

button:focus
  outline: none

::placeholder
  font-weight: 300
  color: #9fa6b2 !important

.wysiwyg-field
  ul
    list-style: disc
    padding-left: 24px
    margin-bottom: 24px

#menu-footer
    a
        font-size: 13px
        font-weight: 700

.userback-button
    @screen xl
        right: 120px !important
