//
@tailwind base
@tailwind components
@tailwind utilities

@import "helpers"
@import "variables"
@import "layouts"
@import "forms"

body
    font-family: "Montserrat", sans-serif
    margin: 0
    padding: 0

button:focus
    outline: 0

.text-primary
    color: $primary

.bg-primary
    background-color: $primary

